.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  cursor: default;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color: #282c34;
  color: white;
}

.Log-item-active {
  background-color: black;
}

.Log-item-active:hover {
  background-color: rgb(15, 10, 10);
}

.Navigation {
  height: 48px;
  color: white;
}

.Navigation ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.Navigation li {
  display: inline-block;
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.formLabel {
  margin: 10px;
}
.formInput {
  width: 400px;
}
.textArea {
  width: 400px;
  height: 150px;
}
.theOutput {
  width: 600px;
  height: 200px;
  background: black;
  color: white;
  margin: 30px;
}