html{
  color-scheme: dark light;
  cursor:default;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  cursor: default;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-body {
  background-color: #282c34;
  color: white;
}

.Log-item-active {
  color:white;
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
}

.Log-item-active:hover {
  background-color: #474747ad;
}

.Navigation {
  height: 48px;
  color: white;
}

.Navigation ul {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.Navigation li {
  display: inline-block;
  height: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.formInput {
  width: 100%;
}
.textArea {
  width: 100%;
  height: 150px;
}
.theOutput {
  width: 100%;
  height: 200px;
  background: black;
  color: white;
}
.inputForm {
  width: 35%;
  margin: auto;
}
